// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    // @media (max-width: $breakpoint1450) {
    //     max-width: 1200px;
    // }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body Locked
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $textColor;

    &.locked {
        overflow: hidden;

        @media (min-width: 768px) {
            overflow: visible;
        }
    }
}

.copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $greenColor;
    margin-bottom: 9px;
}

.date,
.name {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;

    @media (min-width: 768px) {
        margin-bottom: 8px;
    }
}

.name {
    color: #323642;
    margin-right: 8px;

    @media (min-width: 1200px) {
        margin-right: 13px;
    }
}

.date {
    color: $grayColor;
}

.comment {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $grayColor;
    padding-left: 29px;
    padding-top: 3px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-image: url(../img/comment.svg);
        width: 16px;
        height: 16px;
        top: 7px;
        left: 5px;

        @media (min-width: 1200px) {
            background-image: url(../img/comment-desktop.svg);
            background-repeat: no-repeat;
            width: 12px;
            height: 12px;
        }
    }
}

.btn-transparent {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $greenColor;
    padding: 10px 0px 10px 0px;
    border: 1px solid $greenColor;
    border-radius: 30px;
}

.btn-full {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.8px;
    padding: 11px 0px 11px 0px;
    border-radius: 30px;


}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}